--- 
--- 
# Evaluation
--- 
---

In [1]:
import pandas as pd

Dans un premier temps, nous allons évaluer le modèle de classification binaire.

In [25]:
eval_bin = pd.read_csv("Eval_bin.csv", sep=';', header=0, encoding='UTF-8')
eval_mult = pd.read_csv("Eval_mult.csv", sep=';', header=0, encoding='UTF-8')

In [8]:
eval_bin.head()

                                            question  classification  reponse
0                   Quel transporteur va me livrer ?               1        1
1  Je souhaite connaitre les délais de livraison ...               1        1
2      Quels sont les points de retraits Colissimo ?               1        1
3              Puis je me faire livrer en magasin ?                1        1
4     Combien de frais de livraison vais-je payer ?                1        1

In [21]:
eval_mult.head()

,question,theme,classement,reponse
0,Quel transporteur va me livrer ?,Livraison,Livraison,0
1,Je souhaite connaitre les délais de livraison ...,Livraison,Livraison,0
2,Quels sont les points de retraits Colissimo ?,Livraison,Produits et Disponibilité,0
3,Puis je me faire livrer en magasin ?,Livraison,Livraison,0
4,Combien de frais de livraison vais-je payer ?,Livraison,Produits et Disponibilité,0

In [14]:
pd.crosstab(eval_bin.classification,eval_bin.reponse)

reponse          0   1
classification
0               45   5
1                1  49

In [52]:
dico_score = {}

In [61]:
rappel = 49/(49 + 1)
rappel 
dico_score["rappel"] = rappel

In [62]:
precision = 49/(49+5)
precision
dico_score["precision"] = precision

In [63]:
F1 = 2*(precision*rappel)/(precision+rappel)
F1
dico_score["F1"] = F1

In [66]:
pd.DataFrame(dico_score,index=["score"])

             F1  rappel  precision
score  0.942308    0.98   0.907407

Dans un second temps, nous allons évaluer le modèle de classification multi-classes.

In [26]:
pd.crosstab(eval_mult.theme,eval_mult.classement)

classement,"Carte cadeau, avoir et bon d'achat",Commande et Paiement,Livraison,Mon Compte et Informations personnelles,Produits et Disponibilité,Responsabilité Sociétale des Entreprises,Retour et Remboursement
theme,,,,,,,
"Carte cadeau, avoir et bon d'achat",7,0,0,0,0,0,0
Commande et Paiement,0,4,0,2,1,0,0
Livraison,0,0,5,0,2,0,0
Mon Compte et Informations personnelles,1,0,0,6,0,0,0
Produits et Disponibilité,0,0,0,0,5,2,0
Responsabilité Sociétale des Entreprises,0,0,0,0,0,9,0
Retour et Remboursement,1,0,0,0,1,0,3

In [36]:
dico_scores = {}

In [37]:
#Carte cadeau, avoir et bon d'achat
rappel = 7/(7+2)
print(rappel)
precision = 7/7
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Carte cadeau, avoir et bon d'achat"] = {"rappel":rappel,"precision":precision,"F1":F1}

0.7777777777777778
1.0
0.8750000000000001

In [38]:
#Commande et Paiement
rappel = 4/4
print(rappel)
precision = 4/7
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Commande et Paiement"] = {"rappel":rappel,"precision":precision,"F1":F1}

1.0
0.5714285714285714
0.7272727272727273

In [39]:
#Livraison
rappel = 5/5
print(rappel)
precision = 5/7
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Livraison"] = {"rappel":rappel,"precision":precision,"F1":F1}

1.0
0.7142857142857143
0.8333333333333333

In [41]:
# Mon Compte et Informations personnelles
rappel = 6/8
print(rappel)
precision = 6/7
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Mon Compte et Informations personnelles"] = {"rappel":rappel,"precision":precision,"F1":F1}

0.75
0.8571428571428571
0.7999999999999999

In [42]:
# Produits et Disponibilité
rappel = 5/9
print(rappel)
precision = 5/7
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Produits et Disponibilité"] = {"rappel":rappel,"precision":precision,"F1":F1}

0.5555555555555556
0.7142857142857143
0.6250000000000001

In [43]:
# Responsabilité Sociétale des Entreprises
rappel = 9/11
print(rappel)
precision = 9/9
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Responsabilité Sociétale des Entreprises"] = {"rappel":rappel,"precision":precision,"F1":F1}

0.8181818181818182
1.0
0.9

In [44]:
# Retour et Remboursement
rappel = 3/3
print(rappel)
precision = 3/5
print(precision)
F1 = 2*(precision*rappel)/(precision+rappel)
print(F1)
dico_scores["Retour et Remboursement"] = {"rappel":rappel,"precision":precision,"F1":F1}

1.0
0.6
0.7499999999999999

In [51]:
pd.DataFrame(dico_scores).transpose().sort_values("F1",ascending=False)

                                            rappel  precision        F1
Responsabilité Sociétale des Entreprises  0.818182   1.000000  0.900000
Carte cadeau, avoir et bon d'achat        0.777778   1.000000  0.875000
Livraison                                 1.000000   0.714286  0.833333
Mon Compte et Informations personnelles   0.750000   0.857143  0.800000
Retour et Remboursement                   1.000000   0.600000  0.750000
Commande et Paiement                      1.000000   0.571429  0.727273
Produits et Disponibilité                 0.555556   0.714286  0.625000

Dans un troisème temps, nous allons évaluer le modèle de similarité.

In [69]:
accuracy = eval_mult.reponse.sum()/len(eval_mult)
accuracy

0.18